<div class="edit-page">

  <mat-accordion>
    <div class="page-content">
      <div class="row">
        <div class="col col-md-4">
          <img class="img-avatar" [src]="item.avatar">
          <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change Avatar
          </button>
        </div>

        <mat-expansion-panel style="width: 100%; margin-top: 10px" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>Kampania</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col col-md-8 col-sm-12">

            <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)"
                  (keydown.enter)="$event.preventDefault()">

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Mistrz gry" class="form-control" formControlName="game_master">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Kampania" class="form-control" formControlName="campaign">
                </mat-form-field>
              </div>

            </form>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             style="width: 100%">
          <mat-expansion-panel-header>
            <mat-panel-title>Informacje podstawowe</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col col-md-8 col-sm-12">

            <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Name" class="form-control" formControlName="name">
                </mat-form-field>
                <!--    <ng-container *ngFor="let validation of validation_messages.name">
                      <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
                    </ng-container>-->
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Race" class="form-control" formControlName="race">
                </mat-form-field>
                <!--<ng-container *ngFor="let validation of validation_messages.race">
                  <mat-error *ngIf="exampleForm.get('race').hasError(validation.type) && (exampleForm.get('race').dirty || exampleForm.get('race').touched)">{{validation.message}}</mat-error>
                </ng-container>-->
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Profesja" class="form-control" formControlName="profession">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Poprzednia profesja" class="form-control"
                         formControlName="previous_profession">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Płeć" class="form-control" formControlName="gender">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Wiek" class="form-control"
                         formControlName="age">
                </mat-form-field>
                <!-- <ng-container *ngFor="let validation of validation_messages.age">
                   <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                 </ng-container>-->
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Wzrost" class="form-control"
                         formControlName="height">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Waga" class="form-control"
                         formControlName="weight">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Kolor oczu" class="form-control" formControlName="eyes">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Kolor włosyów i uczesanie" class="form-control" formControlName="hair">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Znak gwiezdny" class="form-control" formControlName="star_sign">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Znaki szczególne" class="form-control" formControlName="marks">
                </mat-form-field>
              </div>

            </form>
          </div>

        </mat-expansion-panel>


        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             style="width: 100%">
          <mat-expansion-panel-header>
            <mat-panel-title>Informacje Dodatkowe</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col col-md-8 col-sm-12">

            <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)"
                  (keydown.enter)="$event.preventDefault()">

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Pochodzenie" class="form-control" formControlName="birthplace">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Rodzina" class="form-control" formControlName="family">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Pozycja społeczna" class="form-control" formControlName="social_status">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Kim wcześniej był bohater" class="form-control" formControlName="past">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Dlaczego wyruszył na szlak" class="form-control"
                         formControlName="motivation">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Komu służy" class="form-control" formControlName="serves">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Przyjaciele" class="form-control"
                         formControlName="friends">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput type="number" placeholder="Wrogowie" class="form-control" formControlName="foes">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Co lubi" class="form-control" formControlName="likes">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Czego nie lubi" class="form-control" formControlName="dislikes">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Osobowość i zachowania" class="form-control"
                         formControlName="personality">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Motywacje i cele." class="form-control" formControlName="goals">
                </mat-form-field>
              </div>

            </form>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             style="width: 100%">
          <mat-expansion-panel-header>
            <mat-panel-title>Ekwipunek</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="col col-md-8 col-sm-12">

            <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)"
                  (keydown.enter)="$event.preventDefault()">


              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Przedmioty" class="form-control"
                         (keyup.enter)="addWealth($event.target.value, wealthInput)" #wealthInput>
                </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" class="wealthTable">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element"> {{element}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <ion-icon id="deleteIcon" name="trash"
                              (click)="remove(element)"
                    >
                    </ion-icon>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons #uploadResultPaginatorWealth></mat-paginator>
            </form>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             style="width: 100%">
          <mat-expansion-panel-header>
            <mat-panel-title>Statystyki</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col col-md-8">
            <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)"
                  (keydown.enter)="$event.preventDefault()">

              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Walka wręcz - WW
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="melee1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="melee2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="melee3">
                    </mat-form-field>
                  </div>

                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Umiejętności strzeleckie - US
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="range1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="range2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="range3">
                    </mat-form-field>
                  </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Krzepa - K
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="strength1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="strength2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="strength3">
                    </mat-form-field>
                  </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Odporność - Odp
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="toughness1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="toughness2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="toughness3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Zręczność - Zr
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="agility1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="agility2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="agility3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Inteligencja - Int
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="intelligence1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control"
                             formControlName="intelligence2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="intelligence3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Siła woli - Sw
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="will_power1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="will_power2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="will_power3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Ogłada - Ogd
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="fellowship1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="fellowship2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="fellowship3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Ataki - A
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="attacks1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="attacks2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="attacks3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Żywotność - Żyw
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="wounds1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="wounds2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="wounds3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Szybkość - Sz
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="movement1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="movement2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="movement3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Magia - Mag
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="magic1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="magic2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="magic3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Punkty obłędu - PO
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="instability1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="instability2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="instability3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Punkty przeznaczenia - PO
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Początkowo" class="form-control" formControlName="fortune1">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Schemat rozwoju" class="form-control" formControlName="fortune2">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field class="input-style">
                      <input matInput placeholder="Aktualnie" class="form-control" formControlName="fortune3">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>

              </mat-accordion>

            </form>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             style="width: 100%;"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Umiejętności</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col col-lg-6 col-md-8 col-sm-12">

            <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

              <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                <label class="col-lg-5  col-md-6 col-sm-7">Dowodzenie</label>
                <input type="radio" formControlName="command" value="1" class="abilitiesInput" [checked]="abbControl.commandW">W
                <input type="radio" formControlName="command" value="2" class="abilitiesInput" [checked]="abbControl.command10">+10
                <input type="radio" formControlName="command" value="3" class="abilitiesInput" [checked]="abbControl.command20">+20
              </mat-radio-group>

              <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                <label class="col-lg-5  col-md-6 col-sm-7">Dowodzenie</label>
                <input type="radio" formControlName="gamble" value="1" class="abilitiesInput" [checked]="abbControl.gambleW">W
                <input type="radio" formControlName="gamble" value="2" class="abilitiesInput" [checked]="abbControl.gamble10">+10
                <input type="radio" formControlName="gamble" value="3" class="abilitiesInput" [checked]="abbControl.gamble20">+20
              </mat-radio-group>

            </form>
          </div>
        </mat-expansion-panel>


        <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                      [disabled]="!exampleForm.valid">Save
              </button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">
                Delete
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </mat-accordion>
</div>
