.navbarControl {
  background-color: var(--mainColor);
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1rem;
  width: 100%;
  height: 10vh;
}

.kpButton{
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.navLogo {
  text-decoration: none;
  text-transform: none;
  color: black;
}

@media only screen and(min-height: 751px) {
  .navbarControl {
    height: 8vh;
  }
}

@media only screen and(max-height: 750px) {
  .navbarControl {
    min-height: 12%;
  }

}

@media only screen and(max-width: 750px) {
  .navbarControl .email {
    display: none;
  }

}

span {
  padding-right: 1rem;
  color: white;
}

.navbarControl span a {
  text-decoration: none;
  text-transform: none;
  color: white;
}

span:hover,
.kpButton:hover{
  color: #dddddd;
  cursor: pointer;
}


