<mat-toolbar class="navbarControl" *ngIf="user.uid | async as uid; else login">
  <div><a [routerLink]="['/home']" class="navLogo"><img src="../../../assets/img/logo.png" style="width: 30%; height: 30%"></a></div>
  <div>
    <span class="email" *ngIf="user.email | async as email">{{email}}</span>
    <!--<span><a [routerLink]="['/cardsList']">KP</a></span>
    <span><a [routerLink]="['/addCart']">add</a></span>-->
    <span><button mat-flat-button [matMenuTriggerFor]="appMenu" class="kpButton">KP</button></span>
    <span (click)="user.logout()" [routerLink]="['/home']">Wyloguj</span>
  </div>
</mat-toolbar>

<ng-template #login>
  <mat-toolbar class="navbarControl">
    <div><a [routerLink]="['/home']" class="navLogo"><img src="../../../assets/img/logo.png" style="width: 30%; height: 30%"></a></div>
    <div>
      <span (click)="openLoginDialog()">Zaloguj</span>
    </div>
  </mat-toolbar>
</ng-template>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/addCart']">Dodaj KP</button>
  <button mat-menu-item [routerLink]="['/cardsList']">Lista KP</button>
</mat-menu>
