<div class="addCardContainer">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" (keydown.enter)="$event.preventDefault()">
    <mat-horizontal-stepper>
      <mat-step label="Podstawowe informacje">
        <mat-grid-list cols="3" rowHeight="100">
          <!--COL 1 ROW 1-->
          <mat-grid-tile [rowspan]="2">
            <mat-card class="cardStyle">
              <mat-card-content>
                <mat-form-field>
                  <input matInput placeholder="Mistrz gry" name="game_master" #game_master="ngModel" type="text"
                         [(ngModel)]="service.formData.game_master">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Kampania" name="campaign" #campaign="ngModel" type="text"
                         [(ngModel)]="service.formData.campaign">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <!--COL 2 ROW 1-->
          <mat-grid-tile [rowspan]="4">
            <mat-card class="cardStyle">
              <mat-card-content>
                <img src="https://unsplash.it/300/300">
              </mat-card-content>
                <input [(ngModel)]="service.formData.character_image" name="character_image" #character_image="ngModel" type="file" (change)="featuredPhotoSelected($event)" />
            </mat-card>
          </mat-grid-tile>
          <!--COL 3 ROW 1-->
          <mat-grid-tile [rowspan]="8">
            <mat-card class="cardStyle col3row1">
              <mat-card-content>
                <mat-form-field>
                  <input matInput placeholder="Imie" name="name" #name="ngModel" [(ngModel)]="service.formData.name"
                         required>
                  <mat-error *ngIf="name.invalid && name.touched">{{errorFormMessage}}</mat-error>
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Rasa" name="race" #race="ngModel" type="text" required
                         [(ngModel)]="service.formData.race">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Profesja" name="profession" #profession="ngModel"
                         [(ngModel)]="service.formData.profession">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Poprzednia profesja" name="previous_profession"
                         #previous_profession="ngModel" [(ngModel)]="service.formData.previous_profession">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <mat-label>Płeć</mat-label>
                  <mat-select name="gender" #gender="ngModel" [(ngModel)]="service.formData.gender">
                    <mat-option value="Mężczyzna">Mężczyzna</mat-option>
                    <mat-option value="Kobieta">Kobieta</mat-option>
                  </mat-select>
                  <!--<input matInput placeholder="Płeć" name="gender" #gender="ngModel"
                         [(ngModel)]="service.formData.gender">-->
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Wiek" name="age" #age="ngModel" type="number"
                         [(ngModel)]="service.formData.age">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Wzrost" name="height" #height="ngModel" type="number"
                         [(ngModel)]="service.formData.height">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Waga" name="weight" #weight="ngModel" type="number"
                         [(ngModel)]="service.formData.weight">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Kolor oczu" name="eyes" #eyes="ngModel"
                         [(ngModel)]="service.formData.eyes">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Kolor włosyów i uczesanie" name="hair" #hair="ngModel"
                            [(ngModel)]="service.formData.hair"></textarea>
                </mat-form-field>

                <br>
                <mat-form-field>
                  <input matInput placeholder="Znak gwiezdny" name="star_sign" #star_sign="ngModel"
                         [(ngModel)]="service.formData.star_sign">
                </mat-form-field>

                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Znaki szczególne" name="marks" #marks="ngModel"
                            [(ngModel)]="service.formData.marks"></textarea>
                </mat-form-field>

              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <!--COL 1 ROW 2-->
          <mat-grid-tile [rowspan]="9">
            <mat-card class="cardStyle">
              <mat-card-content>
                <mat-form-field>
                  <input matInput placeholder="Pochodzenie" name="birthplace" #birthplace="ngModel" type="text"
                         [(ngModel)]="service.formData.birthplace">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Rodzina" name="family" #family="ngModel" type="text"
                         [(ngModel)]="service.formData.family">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Pozycja społeczna" name="social_status" #social_status="ngModel"
                         type="text"
                         [(ngModel)]="service.formData.social_status">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Kim wcześniej był bohater" name="past" #past="ngModel" type="text"
                            [(ngModel)]="service.formData.past"></textarea>
                </mat-form-field>
                <br>
                <!--new-->
                <mat-form-field>
                  <textarea matInput placeholder="Dlaczego wyruszył na szlak" name="motivation" #motivation="ngModel"
                            type="text" [(ngModel)]="service.formData.motivation"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Komu służy" name="serves" #serves="ngModel" type="text"
                            [(ngModel)]="service.formData.serves"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Przyjaciele" name="friends" #friends="ngModel" type="text"
                         [(ngModel)]="service.formData.friends">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Wrogowie" name="foes" #foes="ngModel" type="text"
                         [(ngModel)]="service.formData.foes">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Co bohater lubi" name="likes" #likes="ngModel" type="text"
                            [(ngModel)]="service.formData.likes"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Czego bohater nie lubi" name="dislikes" #dislikes="ngModel" type="text"
                            [(ngModel)]="service.formData.dislikes"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Osobowość i zachowania" name="personality" #personality="ngModel"
                         type="text"
                            [(ngModel)]="service.formData.personality"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Motywacja, cele, ambicje" name="goals" #goals="ngModel" type="text"
                            [(ngModel)]="service.formData.goals"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-step>
      <mat-step label="Ekwipunek">
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile [rowspan]="6" [colspan]="1">
            <mat-card class="cardStyle wealthTable">
              <mat-card-content>
                <mat-form-field>
                  <input matInput placeholder="Dodaj przedmioty" (keyup.enter)="addWealth($event.target.value)"
                         [(ngModel)]="service.formData.wealth"
                         name="wealth"
                         #wealth="ngModel">
                </mat-form-field>
              </mat-card-content>
              <table mat-table [dataSource]="dataSource" class="wealthTable">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name</th>
                  <td mat-cell *matCellDef="let element"> {{element}}
                    <mat-icon id="deleteIcon"
                              (click)="remove(element)"
                    >delete
                    </mat-icon>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons></mat-paginator>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [rowspan]="4" [colspan]="1">
            <mat-card class="cardStyle">
              <mat-card-content>
                <mat-form-field>
                  <input matInput placeholder="Złote korony" type="number" name="gold" #gold="ngModel"
                         [(ngModel)]="service.formData.gold">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Srebrne szylingi" type="number" name="silver" #silver="ngModel"
                         [(ngModel)]="service.formData.silver">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Mosiężne pensy" type="number" name="bronze" #bronze="ngModel"
                         [(ngModel)]="service.formData.bronze">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-step>
      <mat-step label="Umiejętności">

        <mat-grid-list [cols]="breakpointSkills" rowHeight="100px" (window:resize)="onResize($event)">
          <mat-grid-tile [colspan]="1" [rowspan]="10">
            <mat-card class="cardStyle">
              <mat-card-content>
                <h4 class="statsNameStyle" title="Walka wręcz">WW</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.melee.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.melee.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.melee.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>
                <h4 class="statsNameStyle" title="Umiejętności strzeleckie">US</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.range.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.range.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.range.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Krzepa">K</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Odporność">Odp</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Zręczność">Zr</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.agility.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.agility.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.agility.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Inteligencja">Int</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.intelligence.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.intelligence.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.intelligence.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Siła woli">SW</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.will_power.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.will_power.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.will_power.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Ogłada">Ogd</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fellowship.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fellowship.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fellowship.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Atak">A</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.attacks.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.attacks.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.attacks.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Żywotność">Żyw</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.wounds.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.wounds.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.wounds.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>


                <h4 class="statsNameStyle" title="Siła">S</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength_bonus.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength_bonus.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.strength_bonus.currently" name="skip"
                         #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Wytrzymałość">Wt</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness_bonus.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness_bonus.diagram" name="skip"
                         #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.toughness_bonus.currently" name="skip"
                         #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Szybkość">Sz</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.movement.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.movement.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.movement.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Magia">Mag</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.magic.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.magic.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.magic.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>

                <h4 class="statsNameStyle" title="Punkty obłędu">PO</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.instability.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.instability.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.instability.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>


                <h4 class="statsNameStyle" title="Punkty przeznaczenia">PP</h4>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fortune.start" name="skip" #skip="ngModel"
                         placeholder="Początkowo"
                         title="Początkowo"
                         type="number"
                  >
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fortune.diagram" name="skip" #skip="ngModel"
                         placeholder="Schemat rozwoju"
                         title="Schemat rozwoju"
                         type="number">
                </mat-form-field>
                <mat-form-field class="inputWidth">
                  <input matInput [(ngModel)]="service.formData.skip.fortune.currently" name="skip" #skip="ngModel"
                         placeholder="Aktualna"
                         title="Aktualna"
                         type="number">
                </mat-form-field>
                <br>


                <mat-form-field style="display: none;">
                  <input matInput [(ngModel)]="service.formData.stats" name="stats" #stats="ngModel"
                         style="display: none">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="13">
            <mat-card class="cardStyle">
              <mat-card-content>
                <mat-form-field>
                  <mat-label>Dowodzenie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.command">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Hazard</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.gamble">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Jeździectwo</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.ride">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Mocna głowa</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.drinking">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Opieka nad zwierzętami</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.animals">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Plotkowanie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.gossip">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Pływanie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.swim">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Powożenie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.drive">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Przekonywanie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.charm">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Przeszukiwanie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.search">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Skradanie się</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.creep">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Spostrzegawczość</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.perception">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Sztuka przetrwania</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.survival">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Targowanie się</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.haggle">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Ukrywanie się</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.hiding">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Wioślarstwo</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.rowing">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Wspinaczka</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.climbing">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Wycena</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.evaluate">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Zastraszanie</mat-label>
                  <mat-select name="skip" #skip="ngModel" [(ngModel)]="service.formData.abb.intimidation">
                    <mat-option value="W">W</mat-option>
                    <mat-option value="W10">10</mat-option>
                    <mat-option value="W20">20</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="display: none;">
                  <input style="display: none" matInput [(ngModel)]="service.formData.abilities" name="abilities"
                         #abilities="ngModel">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <button type="submit" [disabled]="form.invalid" mat-button mat-raised-button>Utwórz</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

</div>


<style>
  .inputWidth {
    width: 50px;
    margin-left: 5px;
  }

  .statsNameStyle {
    display: inline-block;
    min-width: 40px;

  }
</style>
