input.ng-touched.ng-invalid{
  border-color: #dc3545;
}

.addCardContainer{
  margin-top: 50px;
}

.cardStyle{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col3row1{
  position: absolute;
  top: 3.5%;
}

table {
  width: 100%;
}

#deleteIcon{
  position: absolute;
  right: 10%;
  color: red;
  cursor: pointer;
}

.wealthTable{
  height: 60%;
}

@media only screen and(min-width: 1024px) {
  .wealthTable{
    width: 80%;
  }

}

