<div class="addCardContainer" *ngIf="cardDataArray">
  <mat-horizontal-stepper>
    <mat-step label="Podstawowe informacje">
      <mat-grid-list cols="3" rowHeight="100">
        <mat-grid-tile [rowspan]="2">
          <mat-card class="cardStyle">
            <mat-card-content>
              <p>Mistrz Gry: {{cardDataArray.game_master}}</p>
              <p>Kampania: {{cardDataArray.campaign}}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--COL 2 ROW 1-->
        <mat-grid-tile [rowspan]="4">
          <mat-card class="cardStyle">
            <mat-card-content>
              <img src="https://unsplash.it/300/300">
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="8">
          <mat-card class="cardStyle col3row1">
            <mat-card-content>
              <p>Imię: {{cardDataArray.name}}</p>
              <p>Rasa: {{cardDataArray.race}}</p>
              <p>Profesja: {{cardDataArray.profession}}</p>
              <p>Poprzednia Profesja: {{cardDataArray.previous_profession}}</p>
              <p>Płeć: {{cardDataArray.gender}}</p>
              <p>Wiek: {{cardDataArray.age}}</p>
              <p>Wzrost: {{cardDataArray.height}}</p>
              <p>Waga: {{cardDataArray.weight}}</p>
              <p>Kolor oczu: {{cardDataArray.eyes}}</p>
              <p>Kolor włosyów i uczesanie: {{cardDataArray.hair}}</p>
              <p>Znak gwiezdny: {{cardDataArray.star_sign}}</p>
              <p>Znaki szczególne: {{cardDataArray.marks}}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>
  </mat-horizontal-stepper>
</div>


<style>
  .addCardContainer {
    margin-top: 50px;
  }

  .cardStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>


