#imgBg{
  min-height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4)) ,url(../../../assets/img/homepage1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

#imgBg #logo{
  //color: white;
  //text-align: center;
  animation: fromLeft 4s .5s forwards;
  margin-top: 40vh;
  position: absolute;
  width: 50%;
  left: calc(50% - 25%);
  opacity: 0;

}

@media only screen and(max-width: 600px) {
  #imgBg #logo{
    font-size: 4rem;
  }
}

@media only screen and(max-width: 400px) {
  #imgBg #logo{
    font-size: 2.5rem;
  }
}


@keyframes fromLeft {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  50%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;

  }
}

