<div>
  <div align="center">
    <h1>Zaloguj przez google</h1>
    <button mat-raised-button class="buttonColor loginButton" mat-dialog-close (click)="user.login()">Zaloguj</button>
    <button mat-raised-button mat-dialog-close class="backButton">Wróc</button>
  </div>
</div>
