/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

:root{
  --mainColor: #A23E48
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input.ng-touched.ng-invalid{
  border-color: red;
}

