<div>
  <mat-card class="example-card" align="center" *ngFor="let card of cards">
    <mat-card-header>
      <mat-card-title align="after">{{card.name}}</mat-card-title>
      <mat-card-subtitle align="after">{{card.profession}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions style="text-align: right">
      <button mat-button mat-raised-button [routerLink]="['/cardsList', card.id]">Przejdź</button>
      <button mat-button mat-raised-button color="warn" (click)="onDelete(card.id)">Usuń</button>
    </mat-card-actions>
  </mat-card>
</div>
