.example-card {
  max-width: 300px;
  width: 400px;
  margin: 50px auto 8px auto;
  opacity: .8;
}

.example-card:hover {
  opacity: 1;
  background-color: #dddddd;
  cursor: pointer;
}

@media only screen and(max-width: 600px) {
  .example-card{
    max-width: 280px;
  }
}
